@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Patua+One);
@font-face {
	font-family: 'Metrize-Icons';
	src:url('fonts/Metrize-Icons.eot');
	src:url('fonts/Metrize-Icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/Metrize-Icons.woff') format('woff'),
		url('fonts/Metrize-Icons.ttf') format('truetype'),
		url('fonts/Metrize-Icons.svg#Metrize-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

body, html { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Styles */

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;

}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
}

/* Navigation button */
[data-icon]:before {
	font-family: 'Metrize-Icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.buttonContainer {
	position: fixed;
	top: 0px;
	z-index: 200;
}

.saveContainer {
	position: fixed;
	top: 0px;
	right: 0px;
}

.save {
	font-size: 2.5em;
	color: #0d77b6;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.saveContainer .save:hover {
	color: #47a3da;
	cursor: pointer;
}

.saveMenu ul {
	margin: 15px 0px 0px 0px;
	color: #FFF;
}

.arrow {
	font-size: 2.5em;
	color: #0d77b6;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.arrow:hover {
	color: #47a3da;
}

button {
	border: none;
	display: block;
	cursor: pointer;
	background: #FFF;
	width: 50px;
	height: 73px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

button.active {
	background: #0d77b6;
}

button.active .arrow{
	color: #FFF;
	transform-origin:50% 49%;
	-ms-transform-origin:50% 49%;
	-webkit-transform-origin: 55% 44%;
	transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}

button.active .save{
	color: #FFF; 
}

/*Main content */
.pickUpLine {
	font-family: 'Patua One', cursive;
	position: fixed;
	text-align: center;
	left: 50%;
	top: 35%;
	margin-left: -500px;
	width: 1000px;
	font-size: 20px;
}

#heartContainer {
	position: fixed;
	top: 45%;
	left:50%;
	margin-left: -52px;
	background: url('heart.svg') no-repeat top left;
	width: 100px;
	height: 95px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
			
/* Menu navigation */
.menu {
	background: #47a3da;
	position: fixed;
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 100;
}

.menu h3 {
	color: #afdefa;
	font-size: 1.9em;
	text-indent: 35px;
	padding: 20px;
	padding-top: 17px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

.menu input[type="radio"] {display:none;}

.menu label {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
	border-bottom: 1px solid #258ecd;
	padding: 1em;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.menu label:hover {
	background: #258ecd;
}

.menu label:active {
	background: #afdefa;
	color: #47a3da;
}

.menu input[type="radio"]:checked + label {
    background-color:#0d77b6;
}

.saveMenu{
	background: #0d77b6;
	position: fixed;
	width: 100px;
	height: 73px;
	top: 0;
	right: 50px;
	z-index: 100;
}

/* Slides from the left to right or top to bottom */

.menu {
	left: -240px;
}

.menu.menu-open {
	left: 0px;
}

.saveMenu {
	top: -100px;
}

.saveMenu.saveMenu-open {
	top: 0px;
}

/* Transitions */

.menu, .saveMenu {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Responsive */

@media screen and (max-width: 1000px) {
	.pickUpLine {
		font-family: 'Patua One', cursive;
		position: fixed;
		text-align: center;
		left: 50%;
		top: 35%;
		margin-left: -300px;
		width: 600px;
		font-size: 18px;
	}
	#heartContainer {
		position: fixed;
		top: 50%;
		left:50%;
		margin-left: -52px;
		background: url('heart.svg') no-repeat top left;
		width: 100px;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
}

@media screen and (max-width: 600px) {
	.pickUpLine {
		font-family: 'Patua One', cursive;
		position: fixed;
		text-align: center;
		left: 50%;
		top: 35%;
		margin-left: -150px;
		width: 300px;
		font-size: 18px;
	}
	#heartContainer {
		position: fixed;
		top: 53%;
		left:50%;
		margin-left: -52px;
		background: url('heart.svg') no-repeat top left;
		width: 100px;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
}

@media screen and (max-width: 300px) {
	.pickUpLine {
		font-family: 'Patua One', cursive;
		position: fixed;
		text-align: center;
		left: 50%;
		top: 35%;
		margin-left: -50px;
		width: 100px;
		font-size: 16px;
	}
	#heartContainer {
		position: fixed;
		top: 70%;
		left:50%;
		margin-left: -52px;
		background: url('heart.svg') no-repeat top 10px left 10px;
		background-size: 80px 60px;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
}